/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #fbd4e9;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: 'Times New Roman', Times, serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 3px;
  font-size: 200%;
  text-align: center;
}

h1, h2{ 
  color:#f33a9a
}

p {
  color: #f33a9a 
}

ol {
  color:#f33a9a
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #f33a9a;
  background-color: #b5ec7d;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #b5ec7d;
  background-color: rgb(192, 246, 166);
}

.centipede-photo{
  width: 100%;
  max-width: 1500px;
  height: 500px
}

a {
color:#bd2071
}

.menu-bar {
  margin: 10px;
  padding: 10px;
  border: solid 1px #f33a9a;
  background-color:#fff2f9;
}

.hag-stone{
  width: 100%;
  max-width: 500px
}

#elevator-photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.labs{
  margin-left: 110px;
  margin-right: 110px;
  font-weight: bold;
}