

.text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: darkgray;
    color: white;
    font-family: sans-serif;
}

.text:nth-child(odd) {
    text-align: left;
}

.text:nth-child(odd) p {
    background-color: rgb(140, 140, 155);
    color: rgb(2, 2, 2);
}

.text:nth-child(even) {
    text-align: right;
}

.text:nth-child(even) p {
    background-color: rgb(49, 49, 243);
    color: white;
}