body {
background-color: rgb(2, 69, 17)
}

h1 {
color: rgb(251, 245, 226);
word-spacing: 100%;
letter-spacing: 5px;
font-weight: bolder;
text-align: center;
}

h2 {
    text-align: center;
}

.tree-line-photo{
    width: 100%;
    max-width: 1500px;
    height: 500px
}

#lady-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 250px;
    max-height: 500px;
}

p#playlist {
    color: rgb(251, 245, 226);
    text-align: center;
}

#content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #9dfa9b;
    background-color: #9dfa9b;
  }

  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #e6fdcf;
    background-color: #e6fdcf;
  }

  .atomic-habits, .circe, .before-the-coffee-gets-cold{
    width: 50%;
    max-width: 100px;
    max-height: 300px;
}
