body {
background-color: rgb(2, 69, 17)
}

h1 {
color: rgb(251, 245, 226);
word-spacing: 100%;
letter-spacing: 5px;
font-weight: bolder;
text-align: center;
}

.tree-line-photo{
    width: 100%;
    max-width: 1500px;
    height: 500px
}

#lady-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 250px;
    max-height: 500px;
}

p#playlist {
    color: rgb(251, 245, 226);
    text-align: center;
}