/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body {
  background-color: #fbec43;
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #fbec43;
    background-color: #3e41f0;
  }

h1 {
  font-weight: bold;
  font-size: 500%;
  word-spacing: 3pt;
  color:red
}

h2 {
  font-family: cursive;
  color:red;
}

p {
  color:whitesmoke
}

a {
  color:whitesmoke
}