body{
    background-color: darkolivegreen;
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #240202;
    background-color: rgb(119, 103, 103);
  }

  .minor-section-2 {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #240202;
    background-color: #240202;
  }

  h1{
    letter-spacing: 7pt;
    color:antiquewhite;
  }

.alligator{
    width: 100%;
    max-width: 1600px;
    max-height: 750px;
}

h3{
    font-size: 90pt;
    color: red;
    text-align: center;
}

.output{
    font-size: 45pt;
    text-align: center;
    font-style: italic;
    color: red;
}